@{
    ViewBag.Title = "Связаться";
}
<div class="container">
    <br/>
    <address>
        <strong>Поддержка:</strong>   <a href="recipeSupport@gmail.com">recipeSupport@gmail.com</a><br />
        <strong>Маркетинг:</strong> <a href="recipeMarketing@gmail.com">recipeMarketing@gmail.com</a>
    </address>
</div>